<h2><%= 'Vehicle Survey Coding Challenge'  %></h2>
<ul>
  <li><a href="http://localhost:3000/reports/vehicle_count_by_direction.pdf">Vehicle Count</a></li>
  <li><a href="http://localhost:3000/reports/traffic_speed_distribution.pdf">Traffic Speed Distribution</a></li>
  <li><a href="http://localhost:3000/reports/distance_between_cars.pdf">Distance between cars</a></li>
  <li><a href="http://localhost:3000/reports/peak_volume_times.pdf">Peak Volume Times</a></li>
</ul>